<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.cash1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name=".model.Cash1Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.login.DispatchActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Translucent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.login.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.login.RegisterActivity"
            android:parentActivityName=".activities.login.LoginActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.login.LoginActivity" />
        </activity>
        <activity
            android:name=".activities.login.PasswordSendActivity"
            android:parentActivityName=".activities.login.RegisterActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.login.RegisterActivity" />
        </activity>
        <activity
            android:name=".activities.login.PasswordChangeActivity"
            android:parentActivityName=".activities.login.PasswordSendActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.login.PasswordSendActivity" />
        </activity>
        <activity
            android:name=".activities.login.SecurityQuestionActivity"
            android:parentActivityName=".activities.login.PasswordChangeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.login.PasswordChangeActivity" />
        </activity>
        <activity
            android:name=".activities.login.CongratsActivity"
            android:noHistory="true"
            android:parentActivityName=".activities.login.SecurityQuestionActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.login.SecurityQuestionActivity" />
        </activity>
        <activity
            android:name=".activities.login.LoginRetryActivity"
            android:parentActivityName=".activities.login.LoginActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.login.LoginActivity" />
        </activity>
        <activity
            android:name=".activities.login.AgreementActivity"
            android:parentActivityName=".activities.login.LoginActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.login.LoginActivity" />
        </activity>
        <activity
            android:name=".activities.login.LoginHelpActivity"
            android:parentActivityName=".activities.login.LoginActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.login.LoginActivity" />
        </activity>
        <activity
            android:name=".activities.login.SecurityChallengeActivity"
            android:parentActivityName=".activities.login.LoginHelpActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.login.LoginHelpActivity" />
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.login.LogoutActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.support.GetCashNotifyActivity"
            android:launchMode="singleInstance"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.GetCashActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.AccountDetailsActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.support.AccountStatementActivity"
            android:parentActivityName=".activities.AccountDetailsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AccountDetailsActivity" />
        </activity>
        <activity
            android:name=".activities.IncreaseLimitActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.search.FindOfficeActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.search.FindOfficeResultActivity"
            android:parentActivityName=".activities.search.FindOfficeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.search.FindOfficeActivity" />
        </activity>
        <activity
            android:name=".activities.support.FaqActivity"
            android:label="@string/title_activity_faq"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.support.ContactActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.UpdateInfoActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.MakePaymentActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.support.SettingsActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.support.NotificationSettingsActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.login.PrivacyPolicyActivity"
            android:parentActivityName=".activities.support.SettingsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.support.SettingsActivity" />
        </activity>
        <activity
            android:name=".activities.support.TermsActivity"
            android:parentActivityName=".activities.support.SettingsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.support.SettingsActivity" />
        </activity>
        <activity
            android:name=".activities.search.OfficeDetailActivity"
            android:parentActivityName=".activities.search.FindOfficeResultActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.search.FindOfficeResultActivity" />
        </activity>
        <activity
            android:name=".activities.search.FindOfficeWithAddressActivity"
            android:parentActivityName=".activities.search.FindOfficeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.search.FindOfficeActivity" />
        </activity>
        <activity
            android:name=".activities.search.FindOfficeInStateActivity"
            android:parentActivityName=".activities.search.FindOfficeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.search.FindOfficeActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activities.PaymentAccountActivity"
            android:label="@string/title_activity_payment_account"
            android:parentActivityName=".activities.MakePaymentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.cash1.activities.MakePaymentActivity" />
        </activity>
        <activity
            android:name=".activities.NewAccountActivity"
            android:label="@string/title_activity_new_account"
            android:parentActivityName=".activities.PaymentAccountActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.cash1.activities.PaymentAccountActivity" />
        </activity>
    </application>

</manifest>
