<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.cash1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name=".model.Cash1Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".DispatchActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Translucent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".PasswordSendActivity"
            android:parentActivityName=".RegisterActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.cash1.RegisterActivity" />
        </activity>
        <activity
            android:name=".PasswordChangeActivity"
            android:parentActivityName=".PasswordSendActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PasswordSendActivity" />
        </activity>
        <activity
            android:name=".SecurityQuestionActivity"
            android:parentActivityName=".PasswordChangeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.cash1.PasswordChangeActivity" />
        </activity>
        <activity
            android:name=".CongratsActivity"
            android:noHistory="true"
            android:parentActivityName=".SecurityQuestionActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.cash1.SecurityQuestionActivity" />
        </activity>
        <activity
            android:name=".LoginRetryActivity"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.cash1.LoginActivity" />
        </activity>
        <activity
            android:name=".AgreementActivity"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.cash1.LoginActivity" />
        </activity>
        <activity
            android:name=".LoginHelpActivity"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.cash1.LoginActivity" />
        </activity>
        <activity
            android:name=".SecurityChallengeActivity"
            android:parentActivityName=".LoginHelpActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.cash1.LoginHelpActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LogoutActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GetCashNotifyActivity"
            android:launchMode="singleInstance"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.cash1.MainActivity" />
        </activity>
        <activity
            android:name=".GetCashActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.cash1.MainActivity" />
        </activity>
        <activity
            android:name=".AccountDetailsActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.cash1.MainActivity" />
        </activity>
        <activity
            android:name=".AccountStatementActivity"
            android:parentActivityName=".AccountDetailsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.cash1.AccountDetailsActivity" />
        </activity>
        <activity
            android:name=".IncreaseLimitActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.cash1.MainActivity" />
        </activity>
        <activity
            android:name=".FindOfficeActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.cash1.MainActivity" />
        </activity>
        <activity
            android:name=".FindOfficeResultActivity"
            android:parentActivityName=".FindOfficeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FindOfficeActivity" />
        </activity>
        <activity
            android:name=".FaqActivity"
            android:label="@string/title_activity_faq"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.cash1.MainActivity" />
        </activity>
        <activity
            android:name=".ContactActivity"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.cash1.MainActivity" />
        </activity>
        <activity
            android:name=".UpdateInfoActivity"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.cash1.MainActivity" />
        </activity>
        <activity
            android:name=".MakePaymentActivity"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.cash1.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.cash1.MainActivity" />
        </activity>
        <activity
            android:name=".NotificationSettingsActivity"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.cash1.MainActivity" />
        </activity>
        <activity
            android:name=".PrivacyPolicyActivity"
            android:parentActivityName=".SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.cash1.SettingsActivity" />
        </activity>
        <activity
            android:name=".TermsActivity"
            android:parentActivityName=".SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.cash1.SettingsActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".OfficeDetailActivity"
            android:parentActivityName=".FindOfficeResultActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.cash1.FindOfficeResultActivity" />
        </activity>
        <activity
            android:name=".FindOfficeWithAddressActivity"
            android:parentActivityName=".FindOfficeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.cash1.FindOfficeActivity" />
        </activity>
        <activity
            android:name=".FindOfficeInStateActivity"
            android:parentActivityName=".FindOfficeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.cash1.FindOfficeActivity" />
        </activity>
    </application>

</manifest>
